<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="utf-8" />

        <title>Foodi Slots</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="User interface for Foodis' slots" />
        <meta name="theme-color" content="#efecea" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
        <link rel="stylesheet" href="../css/lots.css" />
    </head>

    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="./">Foodi ЛОТОВЕ</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#foodi-regions">
                Региони
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18">
                    <path fill="rgba(0,0,0,0.5)" d="M0 0h24v24H0z" />
                    <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" fill="rgba(255,255,255,1)" />
                </svg>
            </button>
        </header>

        <main id="regions" class="container-fluid">
            <div class="row">
                <nav id="foodi-regions" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <unordered-list v-if="gettingRegions" :is="currentRegion">
                            <list-of-items v-for="region in gettingRegions" @listid="activeId = $event" :getactive="activeId" :item="region" :key="region.id"></list-of-items>
                        </unordered-list>
                        <unordered-list v-else>
                            <li class="nav-item"><span class="nav-link">Зареждам...</span></li>
                        </unordered-list>
                    </div>
                </nav>

                <main class="col-md-9 mt-3 ms-sm-auto col-lg-10 px-md-4">
                    <current-region :town="activeRegion.name" :id="activeRegion.id" :slug="activeRegion.url">
                        <template #towns>
                            <towns-lists :msg="activeRegion.url"></towns-lists>
                        </template>
                        <template #lots>
                            <lots :town="activeRegion.url"></lots>
                        </template>
                    </current-region>
                </main>
            </div>
        </main>

        <script src="https://unpkg.com/bootstrap"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios"></script>
        <script>
            const currentWeekNumber = () => {
                const currentDate = new Date();
                const getDay = currentDate.getDay();
                const oneJan = new Date(currentDate.getFullYear(), 0, 1);
                const numberOfDays = Math.floor((currentDate - oneJan) / (24 * 60 * 60 * 1000));
                const weekNumber = Math.ceil((getDay + 1 + numberOfDays) / 7);

                return weekNumber;
            };

            const getDateRangeOfWeek = (weekNo, currentWeek) => {
                const d1 = new Date();
                const numOfdaysPastSinceLastMonday = d1.getDay() - 1;
                const weekNoToday = currentWeek;

                let weeksInTheFuture, rangeIsFrom, rangeIsTo;

                console.log(d1.getDate() - numOfdaysPastSinceLastMonday);

                d1.setDate(d1.getDate() - numOfdaysPastSinceLastMonday);
                weeksInTheFuture = weekNo - weekNoToday;
                d1.setDate(d1.getDate() + 7 * weeksInTheFuture);
                rangeIsFrom = d1.getMonth() + 1 + "/" + d1.getDate() + "/" + d1.getFullYear();
                d1.setDate(d1.getDate() + 6);
                rangeIsTo = d1.getMonth() + 1 + "/" + d1.getDate() + "/" + d1.getFullYear();

                return rangeIsFrom + " to " + rangeIsTo;
            };

            console.log(getDateRangeOfWeek(currentWeekNumber(), currentWeekNumber()));

            const dateFunction = () => {
                const currentDate = new Date();
                const getDay = currentDate.getDay();
                const weekNumber = currentWeekNumber();

                const first = currentDate.getDate() - (getDay - 1); // First day is the day of the month - the day of the week
                const last = first + 6; // last day is the first day + 6

                const dateFormat = { month: "numeric", day: "numeric" };
                const yearFormat = { year: "numeric" };

                const firstDayOfWeek = new Intl.DateTimeFormat("bg-BG", dateFormat).format(currentDate.setDate(first));
                const lastDayOfWeek = new Intl.DateTimeFormat("bg-BG", dateFormat).format(currentDate.setDate(last));
                const currentYear = new Intl.DateTimeFormat("bg-BG", yearFormat).format(currentDate);

                return [`Седмица ${weekNumber}`, `от ${firstDayOfWeek} до ${lastDayOfWeek}`, currentYear].join(" - ");
            };
            const pathDB = "../models/";
            const extDB = "json";
            const regionsDB = "regions";
            const ListRegions = {
                data() {
                    return {
                        "activeId": 0,
                        "activeRegion": { "id": 5, "name": "СОФИЯ", "url": "sofia" },
                        "gettingRegions": null,
                    };
                },
                computed: {
                    currentRegion() {
                        this.activeRegion = this.gettingRegions ? this.gettingRegions[this.activeId] : this.activeRegion;
                    },
                },
                mounted: function () {
                    axios.get(pathDB + regionsDB + "." + extDB).then((response) => {
                        this.gettingRegions = response.data.regions;
                    });
                },
            };
            const app = Vue.createApp(ListRegions);

            app.component("list-of-items", {
                props: ["item", "getactive"],
                template: `
                    <li class="nav-item">
                        <a :href="'#' + item.url" :title="item.name" :class="{ 'active': (item.id ===  getactive) }" class="nav-link" @click.stop="toggleActive(item.id)">
                            {{ item.name }}
                        </a>
                    </li>
                `,
                methods: {
                    toggleActive(id) {
                        this.$emit("listid", id);
                    },
                },
            });

            app.component("unordered-list", {
                template: `
                    <ul class="nav flex-column">
                        <slot></slot>
                    </ul>
                `,
            });

            app.component("current-region", {
                props: ["town", "id", "slug"],
                template: `
                    <div class="nav nav-tabs">
                        <h1 class="h4 me-3">{{ town }}</h1>
                        <button class="nav-link active" data-bs-toggle="tab" :data-bs-target="'#towns-' + slug">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path fill="currentColor" d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h4v-8h-2V9h3a1 1 0 0 1 1 1v9zM5 5v14h8V5H5zm2 6h4v2H7v-2zm0-4h4v2H7V7z"/>
                            </svg>
                            <span class="ms-1 d-none d-sm-inline-block">ГРАДОВЕ</span>
                        </button>
                        <button class="nav-link" data-bs-toggle="tab" :data-bs-target="'#lots-' + slug">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path fill="currentColor" d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zM4 9v10h16V9H4zm2 2h2v2H6v-2zm0 4h2v2H6v-2zm4-4h8v2h-8v-2zm0 4h5v2h-5v-2z"/>
                            </svg>
                            <span class="ms-1 d-none d-sm-inline-block">ЛОТОВЕ</span>
                        </button>
                    </div>
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" :id="'towns-' + slug">
                            <slot name="towns"></slot>
                        </div>
                        <div class="tab-pane fade" :id="'lots-' + slug">
                            <slot name="lots"></slot>
                        </div>
                    </div>
                `,
            });

            app.component("towns-lists", {
                props: ["msg"],
                data() {
                    return {
                        activeTowns: "Зареждам...",
                    };
                },
                template: `
                    <div class="mb-5">
                        <h3 class="m-2">Активни</h3>
                        <span v-if="activeTowns.active && activeTowns.active.length > 0">
                            <div v-for="town in activeTowns.active" class="badge rounded-pill bg-secondary fs-6 m-2">
                                {{ town }} <button type="button" class="btn btn-sm btn-close btn-close-white" aria-label="Close"></button>
                            </div>
                        </span>
                        <span v-else class="m-2">Добавете региони!?</span>
                        <hr />
                        <h3 class="m-2">Неактивни</h3>
                        <span v-if="activeTowns.inactive && activeTowns.inactive.length > 0">
                            <button v-for="town in activeTowns.inactive" class="btn btn-primary badge rounded-pill fs-6 m-2">
                                {{ town }}
                            </button>
                        </span>
                        <span v-else class="m-2">Няма неактивни региони.</span>
                    </div>
                `,
                watch: {
                    msg: {
                        handler(newMsg, oldMsg) {
                            axios
                                .get(pathDB + newMsg + "." + extDB)
                                .then((response) => {
                                    this.activeTowns = response.data[newMsg];
                                })
                                .catch((error) => {
                                    this.activeTowns = "Няма дефинирани обекти!?";
                                });
                        },
                    },
                },
                created: function () {
                    axios.get(pathDB + this.msg + "." + extDB).then((response) => {
                        this.activeTowns = response.data[this.msg];
                    });
                },
            });

            app.component("lots", {
                props: ["town", "week"],
                data() {
                    return {
                        dateExpl: dateFunction(),
                    };
                },
                template: `
                    <p>{{dateExpl}}</p>
                `,
            });

            app.mount("#regions");
        </script>
    </body>
</html>
